<p>Hi{{#if userFirstName}} {{userFirstName}}{{/if}}! My name is Caio, I'm the founder of surveyx.co.</p>

<p>I noticed that you created a survey but didn't finish setting it up.</p>

<p>Is there any problem? Can I help you with the tool?</p>

<p>I would love to hear what you think about surveyx.co. We are just starting and your feedback is super welcome.</p>

<p>Obrigado!</p>

<p>Caio Rolla</br>
<a href="mailto:caio.rolla@surveyx.co">caio.rolla@surveyx.co</a></br>
@caio_rolla
</p>
