<p>One of your Schedules has failed:</p>

<p><strong>Name: </strong>{{scheduleName}}</p>
<p><strong>Status: </strong>{{statusCode}}</p>

<p>
    Access <a href="https://app.beew.io">your dashboard</a> for more information.
</p>